@inherits LayoutComponentBase
@*@inject MyModel ViewModel;*@

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            <CascadingValue Name="ViewModel" Value="ViewModel">
                @Body
            </CascadingValue>
        </div>
    </div>
</div>
@code{
    MyModel ViewModel = new();

}